.liniya{
    display: flex;
    display: none;
    width: 360px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    border-radius: 20px;
    background: $green;
    &_top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        p{
            color: $secondary-color;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        h1{
            color: $secondary-color;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.08px;
        }
    }
    &_middle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        p{
            color: $secondary-color;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &-inpt{
            display: flex;
            width: 100%;
            padding: 5px 16px 7px 16px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3px;
            align-self: stretch;
            border-radius: 10px;
            border: 1px solid $gray-medium;
            background: $secondary-color;
            text-align: center;
            input{
                outline: none;
                border: none;
                width: 100%;
            }
        }
        .zakaz{
            display: flex;
            padding: 15px 24px 16px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            border: 1px solid $secondary-color;
            background: $green;
        }
        
    }
    &_bottom{
        a{
                color: rgba(255, 255, 255, 0.50);
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
        }
    }
}


@media only screen and (max-width:400px){
    .liniya{
        display: flex;
        display: block;
        width: 360px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;
        border-radius: 20px;
        background: $green;
        &_top{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            p{
                color: $secondary-color;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            h1{
                color: $secondary-color;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -1.08px;
            }
        }
        &_middle{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            p{
                color: $secondary-color;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            &-inpt{
                display: flex;
                width: 100%;
                padding: 5px 16px 7px 16px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 3px;
                align-self: stretch;
                border-radius: 10px;
                border: 1px solid $gray-medium;
                background: $secondary-color;
                text-align: center;
                input{
                    outline: none;
                    border: none;
                    width: 100%;
                }
            }
            .zakaz{
                display: flex;
                padding: 15px 24px 16px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                border: 1px solid $secondary-color;
                background: $green;
            }
            
        }
        &_bottom{
            a{
                    color: rgba(255, 255, 255, 0.50);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
            }
        }
    }
}