
.main_list{
    width: 250px;
    height: 22px;
    margin-top: 40px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    &-item{
        color: $gray-medium;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


}
.main{
  display: flex; 
  gap: 106px;    
&_left{
    display: flex;
    width: 657px;
    margin-top: 50px;
    flex-direction: column;
    gap: 15px;
    h1{
        color:$base-black;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.14px;
    }
    p{
        color: $base-black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
    &_search{
        display: inline-flex;
        align-items: center;
        gap: 30px;
        &-btn{
            display: flex;
            padding: 16px 36px 18px 36px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            border: none;
            background:$green;
            color: $secondary-color;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &-btn:hover{
            border-radius: 5px;
            background: #81D2BC;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
        &-contact{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            strong{
                color:$green;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                border-bottom: 2px solid $green;
            }
            p{
                color:$gray-medium;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
    &-list{
        display: flex;
        padding-top: 40px;
        gap: 26px;
        // flex-wrap: wrap;
        &_item{
            display: flex;
            align-items: center;
            gap: 10px;
            &_title{
                color: $base-black;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}
}

@media only screen and (max-width:400px){
    .main_list{
        width: 250px;
        height: 22px;
        margin-top: 40px;
        display: inline-flex;
        align-items: flex-start;
        gap: 10px;
        &-item{
            color: $gray-medium;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    
    
    }
    .main{
      flex-direction: column-reverse;   
    &_left{
        display: flex;
        // width: 390px !important;
        flex-direction: column;
        gap: 15px;
        h1{
            color:$base-black;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            text-align: center;
            width: 360px !important;
            height:60px !important ;
        }
        .main_left-item{
            color: $base-black;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            width: 360px !important;
            height:110px !important 
        }
        &_search{
            display:flex;
            flex-direction: column;
            margin-right: 300px !important;
            margin-top: 50px !important;
            align-items: center;
            &-btn{
               width: 360px; 
               display: flex;
                width: 360px;
                padding: 15px 24px 16px 24px;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px !important;
                gap: 10px;
            }
            &-btn:hover{
                border-radius: 5px;
                background: #81D2BC;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            }
            &-contact{
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 55px;
                width: 180px;
                height: 33px;
                strong{
                    color:$green;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    border-bottom: 2px solid $green;  
                }
                p{
                    margin-bottom: 0;
                    color:$gray-medium;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
        &-list{
            
        //   width: 136px !important;
          flex-direction: column-reverse;
            &_item{
                display: flex;
                align-items: center;
                width: 136px !important;
                height: 24px !important;
                &_title{   
                    color: $base-black;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
    &_right{
        position: relative;
        margin-top: 40px;
        margin-left: 50px !important;
        img{
            width: 235px;
            height: 250px;
        }
    }
    
    }
}
