.occuption {
  margin-top: 80px;
  &_title {
    color: $base-black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
    margin-bottom: 30px;
  }
  &_cards {
    display: flex;
    width: 1140px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    &-card {
      display: flex;
      width: 560px;
      height: 287px;
      padding: 20px;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
      gap: 15px;
      flex-shrink: 0;
      border-radius: 20px;
      border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
      &_body {
        display: flex;
        gap: 15px;
        h1 {
          color: $base-black;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        p {
          color: $gray-medium;
          font-family: "Open Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
        }
      }
    }
  }
}
.occuption_bottom {
  display: flex;
  padding: 20px !important;
  align-items: center;
  width: 1140px;
  height: 200px;
  border-radius: 20px;
  background: var(--green, #33836e);
  &-middle {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 334px;
    height: 100px;
    h1 {
      color: $secondary-color;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    p {
      width: 296px;
      color: $secondary-color;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -1.26px;
    }
  }
  &-bottom {
    margin-left: 116px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    p {
      color: $secondary-color;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  @media only screen and (max-width: 400px) {
    display: none;
  }
}
.occuption_sticky {
  position: relative;
  bottom: 100px;
  display: flex;
  gap: 40px;
  width: 1140px !important;
  height: 250px;
  border-radius: 20px;
  background: #38383930;

  h1 {
    color: $base-black;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
    width: 295px;
    height: 88px;
  }
  &-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 61px;
    padding-top: 81px;
    padding-left: 53px;
    &_left {
      display: flex;
      width: 207px;
      height: 56px;
      padding: 6px 15px 7px 15px;
      gap: 3px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-radius: 10px;
      border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
      background: $secondary-color;
      p {
        color: rgba(47, 43, 67, 0.4);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      span {
        color: $base-black;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &_right {
      width: 207px;
      height: 56px;
      display: flex;
      padding: 16px 36px 18px 36px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 10px;
      background: #33836e;
      color: $secondary-color;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  img {
    position: absolute;
    display: inline-flex;
    padding-right: 17.62px;
    align-items: center;
    margin-left: 780px;
    height: 250px;
  }
}

@media only screen and (max-width: 400px) {
  .occuption {
    display: none;
    &_title {
      color: $base-black;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.96px;
      margin-bottom: 30px;
    }
    &_cards {
      display: none;
      &-card {
        display: flex;
        width: 560px;
        height: 287px;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        gap: 15px;
        flex-shrink: 0;
        border-radius: 20px;
        border: 1px solid var(--Gray-Borders, rgba(47, 43, 67, 0.15));
        &_body {
          display: flex;
          gap: 15px;
          h1 {
            color: $base-black;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          p {
            color: $gray-medium;
            font-family: "Open Sans";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .occuption_sticky {
    display: flex;
    display: none;
  }
}
